
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      


      <p>
        <a href="/feedback">Feedback form</a>
      </p>



        <!--
      <hr>
      
      <p>
        This is a prototype used for testing. Please ignore everything below this line.
    </p>

    
    <p><b>Goto:</b></p>
    <p><a href="/gov-noting-changes">Long Governance</a></p>
    <p><a href="/task-list">Task list</a></p>
    <p><a href="/check-answers">Check your answers</a></p>
    <p><a href="/feedback-type">Feedback</a></p>
    <p><a href="/gov-information">Information</a></p>
    -->

      


        
        
    </div>




  </div>


  <script>


  </script>

{% endblock %}
